* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/* FLEX & LAYOUT */

.container, .main {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

/* HEADER */

.header, .header .links {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 16px;
}

.header .links {
    gap: 16px;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 120px 16px;
}

.content-body {
    max-width: 600px;
}

.content-title, .hero button {
    margin: 16px 0;
}

/* INFORMATION */

.info {
    padding: 120px 16px;
}

.info h1.content-title {
    text-align: center;
    margin-bottom: 32px;
}

.info .cards {
    display: flex;
    gap: 64px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 200px;
}

.cards p.card-text {
    margin-top: 16px;
}

/* QUOTE */

.quote {
    padding: 120px 16px;
}

.quote .content-body {
    margin: 0 auto;
    max-width: 1024px;
}

.quote p.text {
    margin: 16px 0;
}
/* COLORS */

.header, .hero, .footer {
    background-color: #1F2937;
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
}

.hero h1.content-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p, .header ul.links, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

button.content-button {
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 600;
}

button.content-button, .cta {
    background-color: #3882F6;
    border-radius: 5px;
    color: #FFFFFF;
}

.hero button.content-button {
    border: #3882F6 solid 2px;
}

.card img {
    border: #3882F6 4px solid;
    border-radius: 16px;
}

.cta button.content-button {
    border: #FFFFFF solid 2px;
}

.info h1.content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote .name {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}